{% extends "tease.twig" %}

{% block content %}
	<h3 class="mb-3"><a class="text-dark text-decoration-none" href="{{post.link}}">{{post.title}}</a></h3>

	{% if post.thumbnail.src %}
		<div class="img-wrapper">
			<img class="img-fluid" src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}" />
		</div>
	{% endif %}

	<p>{{post.preview.length(25).read_more(false).end('...').force}}</p>

	<a class="btn btn-warning border-dark rounded-pill pt-2" href="{{post.link}}" title="{{post.title}}">{{ __('Read blog post' ) }}</a>
{% endblock %}