<article class="tease tease-{{post.post_type}} d-flex flex-column align-items-start px-2 py-3" id="tease-{{post.ID}}">
	{% block content %}
	
		<h2 class="mb-3"><a class="text-dark text-decoration-none">{{post.title}}</a></h2>
		{% if post.get_thumbnail %}
			<div class="img-wrapper ratio ratio-16x9">
				<img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}" loading="lazy" />
			</div>
		{% endif %}
		<p>{{post.content}}</p>

		{% if post.project_url %}
			<p class="mb-5"><a class="learn-more" href="{{post.project_url}}" target="_blank">View Website</a></p>
		{% endif %}

	{% endblock %}

	<ul class="taxonomy-badges">
		{% for term in post.terms('technology') %}
			<li class="badge rounded-pill bg-primary">
				{{term.title}}
			</li>
		{% endfor %}
	</ul>
</article>
