{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="bg-light 	{{body_class}}" data-template="base.twig">
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
<header class="header">
	<div class="container">
	{% block header %}
		<nav id="nav-main" class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{site.url}}" rel="home">{{site.name}}</a>
				 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarNav">
					{% include "menu.twig" with {'items': menu.get_items} %}
				</div>
			</div>
		</nav>
			<!-- #nav -->
	{% endblock %}
	</div>
</header>

<section id="content" role="main" class="content-wrapper">
	<div class="container">
		{% if title %}
			<h1>{{title}}</h1>
		{% endif %}
		<div class="wrapper {{sidebar_class}}">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>
		{% if sidebar %}
			<aside class="layout-sidebar">
				{{sidebar}}
			</aside>
		{% endif %}
	</div>
</section>

{% if contact_section %}
	<section class="contact">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8">
					<div class="contact__form">
					{% filter shortcodes|raw %} [contact-form-7 id="7946c71" title="Contact Now"] {% endfilter %}
					</div>
				</div>
				<div class="col-12 col-md-4 d-md-flex flex-col">

					<div class="contact__details">
					
						<h2>{{site.name}}</h2>

						<div class="contact__details__links">
							<div class=""><a href="">GitHub</a></div>
							<div class=""><a href="">LinkedIn</a></div>
						</div>

						<a class="btn btn-secondary">View Resume</a>
					</div>
						
				</div>
			</div>
		</div>
	</section>
{% endif %}

{% block footer %}
	<footer id="footer">
		<div class="container">
			{% include 'footer.twig' %}
		</div>
	</footer>
	{{ function('wp_footer') }}
{% endblock %}</body></html>
