{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

<header class="header">
	{% block header %}
		{% include '/components/primary-menu.twig' %}
	{% endblock %}
</header>

<section id="content" role="main" class="content-wrapper">
	<div class="container">
		{% if title %}
			<h1>{{title}}</h1>
		{% endif %}
		<div class="wrapper {{sidebar_class}}">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>
		{% if sidebar %}
			<aside class="layout-sidebar">
				{{sidebar}}
			</aside>
		{% endif %}
	</div>
</section>

{% block featured_posts %}
	{% include '/partial/featured-posts.twig' %}
{% endblock %}

{% block secondary_content %}
{% endblock %}

{% block footer %}
	<footer id="footer">
		<div class="container">
			{% include '/partial/footer.twig' %}
		</div>
	</footer>
	{{ function('wp_footer') }}
	{% include '/partial/modal--resume.twig'%}
{% endblock %}</body></html>
