{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content">
				<h1 class="article-h1">{{ post.title }}</h1>
				
				<p class="blog-author badge rounded-pill bg-secondary">
					<a class="text-light text-decoration-none" href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
				</p>
					
				<div class="article-body">
					{{post.content}}
				</div>

				<img class="img-fluid rounded" src="{{ post.thumbnail.src }}">

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}

{% block secondary_content %}
	{% include '/partial/featured-posts.twig' %}	
{% endblock %}
