<section id="contact" class="section section--contact wow fadeInUp" data-wow-delay=".5s">
	<div class="container">
		<div class="row g-4">

			{% if sub_footer_add_contact_form_to_page %}
				<h2 class="section-heading section-heading--green mb-4"><span>{{ __('Contact Now', 'portfolio') }}</span></h2>
			{% endif %}
			<div class="col-12 col-lg-8">
				{% if sub_footer_section.add_contact_form_to_page %}
					<div class="contact-form">
						{{ function('do_shortcode', '[contact-form-7 id="' ~ sub_footer_section.contact_form_id ~ '" title="Contact Now" html_id="contact-now"]') }}
					</div>
				{% else %}
					<div class="call-to-action text-center shadow">
						<h2 class="call-to-action__heading">{{ __('Let\'s talk about your next website!', 'portfolio') }}</h2>
						<a href="{{translated_link.contact}}" class="btn btn btn-success border-white rounded-pill pt-2 mt-4">{{ __('Connect Now', 'portfolio') }}</a>
					</div>
				{% endif %}
			</div>
			<div class="col-12 col-lg-4 d-lg-flex flex-col">

				<div class="contact-details shadow">
				
					<h2>{{site.name}}</h2>

					{% include "common/social-icons.twig" %}

					<a class="btn btn-warning border-warning rounded-pill pt-2" href="#" data-bs-toggle="modal" data-bs-target="#viewResume">{{ __('View Resume', 'portfolio') }}</a>
				</div>
					
			</div>
		</div>
	</div>
</section>

{% if sub_footer_section.google_maps_code %}
	<section class="section section--map wow fadeInUp">
		{{sub_footer_section.google_maps_code}}
	</section>
{% endif %}
