{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content">
				<h1 class="article-h1">{{ post.title }}</h1>
				
				<p class="blog-author badge rounded-pill bg-warning text-dark">
					<a class="text-decoration-none" href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
				</p>
					
				<div class="article-body">
					{{post.content}}
				</div>

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}

{% block secondary_content %}

	{% if 'projects' == post.post_type  %}
		{% set featured_posts = projects %}
	{% endif %}
	
	{% include 'components/featured-posts.twig' %}

	{% include 'common/sub-footer-section.twig' %}
{% endblock %}
